:root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-shadow: 0.5px 0.5px 0.5px darkorchid;
}

hr {
    width: 40%;
}

.background-container {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.background-container::-webkit-scrollbar {
  display: none; /* Definiere das Pseudoelement außerhalb der Klasse */
}

.content-container {
  display: flex;
  flex-direction: column;
  align-self: center;

  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  width: 100%;

  @media screen and (min-width: 680px) {
    width: 90%;
  }

  @media screen and (min-width: 1024px) {
      width: 80%;
  }

  @media screen and (min-width: 1512px) {
      width: 50%;
  }

  @media screen and (min-width: 2056px) {
      width: 30%;
  }
}

.content-container::-webkit-scrollbar {
  display: none; /* Definiere das Pseudoelement außerhalb der Klasse */
}

/* Book Styles: */
.book-cover {
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  transform: rotateY(0deg);
  transition: transform 0.5s;

  height: 400px;
    width: 250px;
    background-color: beige;
    border-radius: 0.5rem;

    align-self: center;

    @media screen and (min-width: 1024px) {
        align-self: flex-start;
    }

    &:hover {
      transform: rotateY(-20deg);
    }
}
